body {
    background-color: #EDF4F4;
}

form {
    background-color: #DCE8E8;
    width: 50%;
    margin: auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

input {
    background-color: transparent;
    outline: none;
    border: 1px black solid;
    padding: 3px 6px;
    margin-bottom: 10px;
}

label {
    color: #2c4484;
    cursor: pointer;
}

input[type="submit"] {
    color: white;
    background-color: #1f8017;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    cursor: pointer;
}